:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
  }
  
  .container {
    display: grid;
    height: 160vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 1.2fr 1.2fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav nav"
      "main main main main"
      "content1 content2 content3 content4"
      "content5 content6 content7 content8"
      "content5 content9 content10 content8"
      "content5 content11 content12 content8"
      "footer footer footer footer";
    grid-gap: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  
  .navig{
    grid-area: navig;
  }
  
  nav {
    background: white;
    grid-area: nav;
    padding-top: var(--main-padding);
  }
  
  main {
    background-image: url(img/chnuback.png) ;
    background-repeat: no-repeat;
    grid-area: main;
    padding-top: var(--main-padding);
  }
  
  #sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content1 {
    background: white;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  
  
  footer {
    background: #273c66;
    grid-area: footer;
    padding-top: var(--main-padding);
    margin-bottom: 15px;
    box-shadow: 0 10px 20px 4px rgba(0,0,0,0.25);
    margin-top: 10px;
  }
  
  .footer-text{
    text-align: left;
    font-size: 18px;
    color: white;
    padding: 25px 45px;
  }
  
  .footer-text2{
    text-align: left;
    padding: 0 65;
    font-size: 12px;
    line-height: 45px;
    margin-top: -40px ;
    color: white;
  }
  
  .map{
    float: right;
    margin-top: 3px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 950px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        "content8"
        "footer";
    }
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    display: block;
    text-decoration: none;
    outline: none; 
  }

  .menu1{
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: white;
  }
  .topmenu {
    backface-visibility: hidden;
  
  }
  .topmenu > li {
    display: inline-block;
    position: relative;
    margin-top: -7px;
  }
  .topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    transition: .4s ease-in-out;
  }
  .down:after {
    margin-left: 8px;
    font-family: FontAwesome;
  }
  .topmenu li a:hover {color: #E6855F;}
  .submenu {
    background: white;
    border: 1px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    margin-top: -30px;
    z-index: 5;
    width: 185px;
    transform: perspective(600px) rotateX(90deg);
    transform-origin: 0% 0%;
    transition: .5s ease-in-out;
  }
  .topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
  }
  .submenu li a {
    color: #7f7f7f;
    font-size: 12px;
    line-height: 25px;
    padding: 0 10px;
    font-family: 'Kurale', serif;
    transition: .4s ease-in-out;
  }
    
  
  .logo{
    float: left;
    padding-left: 75px;
    margin-top: 12px;
    z-index: 99;
  }
  
  .logo-text{
    float: left;
    margin-top: 35px;
    margin-left: 3px;
    color: #2C60A4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
  }
  
  
  .galimg{
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;
    width: 450px;
    height: 450px;
    transition: 1s; 
    margin-left: 40px;
    padding-top: 25px;
  }
  
  .galimg:hover{
    filter: blur(0);
    transition: 1s;
  }
  
  .maintext{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 235px 0;
    margin-left: 35px;
  }
  
  .maintext2{
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    margin-left: 35px;
    margin-bottom: 500px;
  }
  
  
  .galtext{
    color: black;
    font-size: 18px;
    margin-top: -15px;
    text-align: center;
    padding-left: 55px;
  }
  
  .galtext2{
    color: rgb(131, 125, 125);
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
  .line{
    background-color: #273c66;
    height: 50px;
  }
  
  
  
  .titletext{
    text-align: center;
    color: black;
  }